<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/base}">
<head>
    <title>Добавить камеру</title>
</head>
<body>
    <div layout:fragment="content">
        <div class="d-flex justify-content-between align-items-center mb-4">
            <h2>Добавить новую камеру</h2>
            <a href="/camera-view" class="btn btn-secondary">Вернуться в список</a>
        </div>

        <div class="card">
            <div class="card-body">
                <form th:action="@{/camera-view/add}" th:object="${camera}" method="post">
                    <div class="mb-3">
                        <label for="name" class="form-label">Название</label>
                        <input type="text" class="form-control" id="name" th:field="*{name}" required>
                    </div>
                    <div class="mb-3">
                        <label for="ip" class="form-label">IP адрес</label>
                        <input type="text" class="form-control" id="ip" th:field="*{ip}" required>
                    </div>
                    <div class="mb-3">
                        <label for="code" class="form-label">Код</label>
                        <input type="text" class="form-control" id="code" th:field="*{code}">
                    </div>
                    <div class="mb-3">
                        <label for="direction" class="form-label">Направление</label>
                        <input type="text" class="form-control" id="direction" th:field="*{direction}">
                    </div>
                    <div class="mb-3">
                        <label for="brand" class="form-label">Брэнд</label>
                        <input type="text" class="form-control" id="brand" th:field="*{brand}">
                    </div>
                    <div class="mb-3">
                        <label for="collectionDays" class="form-label">Хранение (день)</label>
                        <input type="number" class="form-control" id="collectionDays" th:field="*{collectionDays}">
                    </div>
                    <div class="mb-3">
                        <label for="apkId" class="form-label">ID АПК</label>
                        <input type="number" class="form-control" id="apkId" th:field="*{apkId}" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Добавить</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html> 